.container {
  background: #3b3b3b;
}
button {
  margin-top: 3vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  width: 20vw;
}

.header-url {
  width: 94vw;
  overflow: hidden;
  color: white;
}

textarea {
  resize: none;
}

html {
  height: 0;
}

.footer {
  height: 10px;
}
